<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="smtpserver" value="smtp.gmail.com"/>
    <add key="portnumber" value="587"/>
    <add key="emailsender" value="rajendrapatil681@gmail.com"/>
    <add key="password" value="Raj@3323"/>
    <add key="IsSSL" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

</configuration>
